NODE_ENV=development
JWT_SECRET=change-me
COOKIE_DOMAIN=.vlworkhub.ca
API_PORT=8080
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=vlworkhub
MYSQL_USER=vlworkhub
MYSQL_PASSWORD=vlworkhub
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_ROOT_URL=http://www.vlworkhub.ca
NEXT_PUBLIC_CARE_URL=http://care.vlworkhub.ca
NEXT_PUBLIC_HR_URL=http://hr.vlworkhub.ca
NEXT_PUBLIC_URSAFE_URL=http://ursafe.vlworkhub.ca
